<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lfmall.backend.cart.model.mapper.CartMapper">

  <!-- 장바구니 조회 -->
  <select id="selectCartsByMemberId"
          parameterType="long"
          resultType="map">

	    SELECT	c.cart_id              AS "cartId"
		      	, c.member_id          AS "memberId"
		      	, c.stock_id           AS "stockId"
		      	, c.cart_quantity      AS "cartQuantity"
		      	, c.cart_created_at    AS "cartCreatedAt"
		
		      	, p.product_uid        AS "productId"
		      	, p.product_name       AS "productName"
		      	, p.product_price      AS "productPrice"
		      	, p.product_discount  AS "productDiscount"
		      	, p.gender             AS "gender"
		      	, p.category_id        AS "categoryId"
		
		      	, po.product_option_id AS "optionId"
		      	, po.product_color     AS "optionColor"
		      	, po.product_size      AS "optionSize"
		      	, po.product_quantity  AS "optionQuantity"

	      FROM 	"cart" c
	      JOIN 	"product_option_tb" po
	        ON 	c.stock_id = po.product_option_id
	      JOIN 	"product_tb" p
	        ON 	po.product_uid = p.product_uid

         WHERE 	c.member_id = #{memberId}
      ORDER BY 	c.cart_created_at DESC

  </select>


  <!-- 동일 사용자 + 옵션(stock) 조합 수량 조회 -->
  <select id="selectCartQuantity" resultType="int">
      SELECT c.cart_quantity
        FROM "cart" c
       WHERE c.member_id = #{memberId}
         AND c.stock_id = #{stockId}
       LIMIT 1
  </select>


  <!-- 동일 사용자 + 옵션(stock) 조합 cart PK 조회 -->
  <select id="selectCartIdByMemberAndStock" resultType="long">
     SELECT c.cart_id
       FROM "cart" c
      WHERE c.member_id = #{memberId}
        AND c.stock_id = #{stockId}
      LIMIT 1
  </select>


  <!-- 장바구니 추가 -->
  <insert id="insertCart">
    INSERT INTO "cart" (member_id, stock_id, cart_quantity, cart_created_at)
         VALUES (#{memberId}, #{stockId}, #{quantity}, NOW())
  </insert>


  <!-- cart PK("Key")로 수량 변경 -->
  <update id="updateCartQuantityById">
    UPDATE "cart"
    SET cart_quantity = #{quantity}
    WHERE cart_id = #{cartId}
  </update>


  <!-- 사용자+옵션 기준 수량 변경 -->
  <update id="updateCartQuantityByMemberAndStock">
    UPDATE "cart"
    SET cart_quantity = #{quantity}
    WHERE member_id = #{memberId}
      AND stock_id = #{stockId}
  </update>


  <!-- 옵션 변경 + 수량 갱신 -->
  <update id="updateCartStockAndQuantity">
    UPDATE "cart"
    SET stock_id = #{newStockId},
        cart_quantity = #{quantity}
    WHERE cart_id = #{cartId}
      AND member_id = #{memberId}
  </update>


  <!-- 선택 삭제 -->
  <delete id="deleteCartItems">
    DELETE FROM "cart"
    WHERE id = #{memberId}
      AND "Key" IN
      <foreach collection="cartIds" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
  </delete>

</mapper>